<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" style="padding: 5px 15px; !important" rel="home" href="#" title="Igreja Presbiteriana do Brasil">
                    <img class="logo-img" src="/img/church_icon.png">
                </a>            
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/igrejas">Igrejas</a></li>
                    <li><a href="#">Cidades</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>