<div class="container">
    <div class="jumbotron">
        <h4>Dados da Igreja</h4>
        </br>
        <table class="table">
            <tr>
                <td>{{igreja.nome}}</td>
            </tr>
            <tr>
                <td>{{igreja.logradouro}}, {{igreja.complemento}}, {{::igreja.cidade.nome}}-{{::igreja.cidade.estado}}</td>
            </tr>
            <tr>
                <td>{{igreja.telefone}}</td>
            </tr>
        </table>
        </br>
        Localização:
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
        </br>
        <button class="btn btn-primary" ng-click="alterarIgreja(igreja)">Atualizar</button>
        <a class="btn btn-primary" href="#/igrejas">Voltar</a>
    </div>
</div>